# Terraform / Terragrunt
.terraform/
.terragrunt-cache/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local env files
.env*
**/.env

# Docker artifacts
services/traefik/letsencrypt/acme.json
services/matrix/config/homeserver.yaml
services/gitea/config/app.ini

# macOS
.DS_Store
