APP_NAME = ${GITEA_APP_NAME}
RUN_MODE = prod
RUN_USER = git

[database]
DB_TYPE  = ${GITEA__database__DB_TYPE}
HOST     = ${GITEA__database__HOST}
NAME     = ${GITEA__database__NAME}
USER     = ${GITEA__database__USER}
PASSWD   = ${GITEA__database__PASSWD}
SSL_MODE = disable
PATH     = /var/lib/gitea/data/gitea.db

[server]
DOMAIN            = ${GITEA_DOMAIN}
HTTP_ADDR         = 0.0.0.0
HTTP_PORT         = 3000
ROOT_URL          = ${GITEA__server__ROOT_URL}
PROTOCOL          = http
LANDING_PAGE      = ${GITEA_LANDING_PAGE}
DISABLE_SSH       = ${GITEA_DISABLE_SSH}
START_SSH_SERVER  = ${GITEA_START_SSH_SERVER}
SSH_DOMAIN        = ${GITEA_DOMAIN}
SSH_PORT          = ${GITEA_SSH_PORT}
SSH_LISTEN_PORT   = ${GITEA_SSH_PORT}
LFS_START_SERVER  = ${GITEA_LFS_START_SERVER}

[picture]
DISABLE_GRAVATAR        = ${GITEA_DISABLE_GRAVATAR}
ENABLE_FEDERATED_AVATAR = ${GITEA_ENABLE_FEDERATED_AVATAR}

[service]
ALLOW_ONLY_EXTERNAL_REGISTRATION  = ${GITEA_ALLOW_ONLY_EXTERNAL_REGISTRATION}
DISABLE_REGISTRATION              = ${GITEA_DISABLE_REGISTRATION}
ENABLE_NOTIFY_MAIL                = ${GITEA_ENABLE_NOTIFY_MAIL}
REQUIRE_SIGNIN_VIEW               = ${GITEA_REQUIRE_SIGNIN_VIEW}
DEFAULT_KEEP_EMAIL_PRIVATE        = ${GITEA_DEFAULT_KEEP_EMAIL_PRIVATE}
DEFAULT_ALLOW_CREATE_ORGANIZATION = ${GITEA_DEFAULT_ALLOW_CREATE_ORGANIZATION}
ENABLE_USER_HEATMAP               = ${GITEA_ENABLE_USER_HEATMAP}
AUTO_WATCH_NEW_REPOS              = ${GITEA_AUTO_WATCH_NEW_REPOS}
DEFAULT_USER_VISIBILITY           = ${GITEA_DEFAULT_USER_VISIBILITY}
DEFAULT_ORG_VISIBILITY            = ${GITEA_DEFAULT_ORG_VISIBILITY}
ALLOWED_USER_VISIBILITY_MODES     = ${GITEA_ALLOWED_USER_VISIBILITY_MODES}

[openid]
ENABLE_OPENID_SIGNIN = ${GITEA_ENABLE_OPENID_SIGNIN}
ENABLE_OPENID_SIGNUP = ${GITEA_ENABLE_OPENID_SIGNUP}

[repository]
DEFAULT_BRANCH = ${GITEA_DEFAULT_BRANCH}
ENABLE_PUSH_CREATE_USER = ${GITEA_ENABLE_PUSH_CREATE_USER}
ENABLE_PUSH_CREATE_ORG  = ${GITEA_ENABLE_PUSH_CREATE_ORG}

[repository.upload]
ENABLED       = ${GITEA_REPO_UPLOAD_ENABLED}
ALLOWED_TYPES = ${GITEA_REPO_UPLOAD_ALLOWED_TYPES}
FILE_MAX_SIZE = ${GITEA_REPO_UPLOAD_MAX_SIZE}
MAX_FILES     = ${GITEA_REPO_UPLOAD_MAX_FILES}

[ui]
SHOW_USER_EMAIL = ${GITEA_SHOW_USER_EMAIL}

[admin]
DISABLE_REGULAR_ORG_CREATION = ${GITEA_DISABLE_REGULAR_ORG_CREATION}

[security]
INSTALL_LOCK  = true
SECRET_KEY    = ${GITEA_SECRET_KEY}
INTERNAL_TOKEN = ${GITEA_INTERNAL_TOKEN}
REVERSE_PROXY_LIMIT = 1
REVERSE_PROXY_TRUSTED_PROXIES = *

[oauth2]
JWT_SECRET = ${GITEA_JWT_SECRET}
REFRESH_TOKEN_EXPIRATION_TIME = ${GITEA__oauth2__REFRESH_TOKEN_EXPIRATION_TIME}

[mailer]
ENABLED  = ${GITEA_MAILER_ENABLED}
FROM     = ${GITEA_MAILER_FROM}
MAILER_TYPE = smtp
PROTOCOL = ${GITEA_MAILER_PROTOCOL}
SMTP_ADDR = ${GITEA_MAILER_SMTP_ADDR}
SMTP_PORT = ${GITEA_MAILER_SMTP_PORT}
USER      = ${GITEA_MAILER_USER}
PASSWD    = ${GITEA_MAILER_PASSWORD}

[log]
MODE = console
LEVEL = info
ENABLE_XORM_LOG = false
