version: "3.9"

services:
  excalidraw:
    image: excalidraw/excalidraw:latest
    container_name: excalidraw
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.excalidraw.rule=Host(`excalidraw.jxlxx.org`)"
      - "traefik.http.routers.excalidraw.entrypoints=websecure"
      - "traefik.http.routers.excalidraw.tls.certresolver=le"
      - "traefik.http.routers.excalidraw.middlewares=authelia-auth@file"
      - "traefik.http.services.excalidraw.loadbalancer.server.port=80"

networks:
  proxy:
    external: true
